<div class="container my-5">
    <h1 class="text-center">To do list</h1>
    <%= form_with do |form| %>
        <div class="row">
            <div class="">
                <ul class="list-group" id="task-list">
                    <% @tasks.each do |task| %>
                        <li class="list-group-item">
                            <%= task.name %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>

        <div class="pt-3">
            <div class="input-group">
                <input type="text" class="form-control" id='new-task' placeholder="Task Name" aria-label="Task Name">
                <input type="button" class="btn btn-success" id="add-new" value="Add New">
            </div>


        </div>
        
        <div class="text-center pt-3">
            <button class="btn btn-success px-5" type="submit">Save</button>
        </div>
    <% end %>
</div>

<script>
    const addNew = document.getElementById('add-new')
    addNew.addEventListener('click', function(event) {
        const newTask = document.getElementById('new-task').value
        const taskList = document.getElementById('task-list')
        const listElement = document.createElement('li')
        // add bootstrap classes
        listElement.classList.add("list-group-item")
        listElement.appendChild(document.createTextNode(newTask))

        // add task to the list
        taskList.appendChild(listElement)
        // clear input
        document.getElementById('new-task').value = ''
    })
</script>
