<div class="container">
    <h1 class="text-center">All My Recipes</h1>
    <div class="row">
        <div class="list-group">
            <% @recipes.each do | recipe | %>
                <div class="card p-2 my-2">
                    <div class="d-flex justify-content-between">
                        <div class="my-auto">
                            <%= recipe.title %>
                        </div>
                        <div>
                            <a href="/admin/recipe/<%= recipe.id %>" class="btn btn-link">
                                View
                            </a>
                            <a href="/admin/recipe/edit/<%= recipe.id %>" class="btn btn-link">
                                Edit
                            </a>
                        </div>
                    </div>
                </div>
            <% end %> 
        </div>
    </div>

    <div class="row mt-3">
        <a href="<%=admin_recipe_new_path%>" class="btn btn-success">Add New</a>
    </div>
</div>