<div class="container">
    <h1 class="text-center">My Recipes</h1>
    <div class="row">
        <% @recipes.each do | recipe | %> 
            <div class="col-12 col-md-6 col-lg-4 p-3">
                <div class="card">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title"><%= recipe.title %></h5>
                        <p class="card-text">
                            <%= recipe.description %>
                        </p>
                        <a href="/recipe/<%=recipe.id%>" class="btn btn-success">Read More</a>
                    </div>
                </div>
            </div>
        <% end %> 
    </div>
</div>