<div class="container">
  <div class="text-center p-3">
    <h2>Ready to create? Sign up bellow</h2>
  </div>

  <div class="card">
    <% if Current.user %>
    <!-- <p><%=Current.user.userID%></p> -->
    <!-- current user view -->
    <% else %>
    <div class="text-center p-5">
      <%= 
        link_to 'Login',
        sign_in_path,
        class: "btn btn-light"
      %>
      <%= 
        link_to 'Sign Up', 
        sign_up_path,
        class: "btn btn-info"
      %>
    </div>
    <% end %>
  </div>
</div>