<div class="container">
    <h1 class="text-center"></h1>
    <%= form_with model: recipe do |form| %>
        <div>
            <%= form.label :title %>
            <%= form.text_field :title %>
        </div>
    <% end %>
</div>