// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.recipe-img_container {
    width: 50%;
    margin: 20px auto;
}
.recipe-img {
    width: 100%;
}